.checkout {
    padding: 50px 20vw;

    .product-detail {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-top: 44px;
        padding-bottom: 30px;

        img {
            height: 400px;
            width: 400px;
        }

        .details {
            min-width: 35vw;
            max-width: 50vw;
            margin-left: 24px;

            .product-name {
                font-size: 24px;
                font-weight: 600;
            }

            .product-category {
                font-size: 16px;
                padding-top: 6px;
            }

            .product-description {
                font-size: 18px;
                padding-top: 8px;
            }
        }

    }

    .product-summary {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

        img {
            height: 150px;
            width: 150px;
        }

        .details {
            margin-left: 24px;

            .product-name {
                font-size: 24px;
                font-weight: 600;
            }

            .product-category {
                font-size: 16px;
                padding-top: 6px;
            }

            .product-description {
                font-size: 18px;
                padding-top: 8px;
            }
        }
    }

    .address-details {
        margin-left: 24px;
        margin-top: 30px;

        .title {
            font-size: 24px;
            font-weight: 600;
        }

        .name {
            font-size: 18px;
            font-weight: 600;
        }

        .address {
            .street {
                font-size: 16px;
            }

            .city {
                font-size: 16px;
            }

            .state {
                font-size: 16px;
            }

            .landmark {
                font-size: 16px;
            }

            .zipcode {
                font-size: 16px;
            }
        }
    }
}