.home{
    padding: 24px;
    margin: auto;
    width: calc(100% - 40vw);
    .grid{
        padding-top: 24px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: auto;
    }
}